{% extends 'base.html' %}

{% block content %}
  <div class="row my-2">
    <div class="col">
      <h1>Edit Block</h1>
    </div>
    <div class="col text-end">
      <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
  <form action="{{ url_for('edit', id=block.id) }}" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ block.title }}" required>
    </div>
    <div class="mb-3">
      <label for="prompt" class="form-label">Prompt</label>
      <textarea class="form-control" id="prompt" name="prompt" rows="3" required>{{ block.prompt }}</textarea>
    </div>
    <div class="mb-3">
      <label for="prompt_description" class="form-label">Prompt Description</label>
      <textarea class="form-control" id="prompt_description" name="prompt_description" rows="3" required>{{ block.prompt_description }}</textarea>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category" value="{{ block.category }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Block</button>
  </form>
{% endblock %}
