{% extends 'base.html' %}

{% block content %}
  <div class="row my-2">
    <div class="col">
      <h1>GPT Templates</h1>
    </div>
    <div class="col text-end">
      <a href="{{ url_for('create') }}" class="btn btn-primary">Create Block</a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-auto">
      <form action="{{ url_for('index') }}" method="get">
        <div class="input-group">
          <label class="input-group-text" for="category-select">Category:</label>
          <select class="form-select" id="category-select" name="category">
            <option value="">All</option>
            {% for category in categories %}
            <option value="{{ category }}" {% if category == current_category %}selected{% endif %}>{{ category }} ({{ blocks|selectattr('category', 'equalto', category)|list|count }})</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </form>
    </div>
  </div>
  {% for block in blocks %}
    <div class="card my-2">
      <div class="card-body" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5em;">
        <div class="row mb-3">
          <div class="col-10">
            <h2 class="card-title">{{ block.title }}</h2>
          </div>
          <div class="col-2 text-end">
            <button class="btn btn-outline-secondary" type="button" onclick="copyPrompt('{{ block.prompt }}')">Copy</button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <p class="card-text h4" style="line-height: 1.5em;">{{ block.prompt|highlight_brackets }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <p class="card-text" style="line-height: 1.5em;">{{ block.prompt_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <a href="{{ url_for('edit', id=block.id) }}" class="btn btn-primary">Edit</a>
            <form action="{{ url_for('delete', id=block.id) }}" method="post" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
          <div class="col-6 text-end">
            <span class="badge bg-primary">{{ block.category }}</span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script>
    function copyPrompt(prompt) {
      var textarea = document.createElement('textarea');
      textarea.value = prompt;
      textarea.setAttribute('readonly', '');
      textarea.style.position = 'absolute';
      textarea.style.left = '-9999px';
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
      alert('Prompt copied to clipboard!');
    }
  </script>
{% endblock %}
